{% extends "!page.html" %}

{% block extrahead %}
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
    <style type="text/css">
    #ribbon a img {
        position: absolute;
        top: 2.5em;
        right: 0;
        border: 0;
    }
    pre {
        background: none repeat scroll 0% 0% rgb(39, 40, 34);
        line-height: 1.2em;
        font-family: "Inconsolata","InconsolataMedium",Monaco,"Courier New",monospace;
        font-size: 1.0em;
        color: white;
        border-radius: 15px;
        -moz-border-radius: 15px;
        -webkit-border-radius: 15px;
        -khtml-border-radius: 15px;
        border: 1px solid rgb(136, 153, 170);
        overflow-x: auto;
        overflow-y: hidden;
    }
    #license {
        text-align: center;
        font-size: 0.9em;
    }
    </style>
{% endblock %}

{% block footer %}
{{ super() }}
    <div id="ribbon">
        <a href="https://github.com/padraic/phpsecurity">
            <img src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"/>
        </a>
    </div>
{% endblock %}